examples/Flow_AppExample_S7toPostgreSQL.json.json
[{"id":"8a4ccd81.12db7","type":"tab","label":"S7 - PostgreSQL App Example","disabled":false,"info":""},{"id":"62ed8815.ee9808","type":"comment","z":"8a4ccd81.12db7","name":"Transform Production Data for SQL","info":"## Description\nHere we will transform the received payload from MQTT IE Databus, that contains all data read by the S7-1500 PLC configured within the S7 Connector application, into a message matching the standard required by the **\"influx-out**\" node.\nFor the \"influx-out\" node, the `msg.payload` is an object containing multiple properties, all fields will be written in the measure.\nWe will transform the `id` key of the received variable into the name of the \"influxDB field\" (with a replace prefix) and the `val` key will be approximated to 3 decimal places.\nThe measurement name is set with `msg.measurement` property.\n\n## Example Input\n```\n{\n  \"topic\": \"ie/d/j/simatic/v1/s7c1/dp/r/1516_UA/default\",\n  \"payload\": {\n    \"seq\": 44093,\n    \"vals\": [\n      {\n        \"id\": \"BigData_Real600_0\",\n        \"qc\": 3,\n        \"ts\": \"2021-03-06T09:17:05.347Z\",\n        \"val\": \"4728.96337890625\"\n      },\n      {\n        \"id\": \"BigData_Real600_1\",\n        \"qc\": 3,\n        \"ts\": \"2021-03-06T09:17:05.347Z\",\n        \"val\": \"7141.59326171875\"\n      }\n    ]\n  }\n}\n```\n\n## Example Output\n```\n{\n  \"measurement\": \"real600\",\n  \"payload\": {\n    \"R_0\": 4728.963,\n    \"R_1\": 7141.593\n  }\n}\n```","x":600,"y":340,"wires":[]},{"id":"4e45614e.7a5bc","type":"comment","z":"8a4ccd81.12db7","name":"Buffer and send data to PostgreSQL App","info":"## Description\nThe `influxdb out` node can write values and tags to an influxdb measurement.\nThe fields and tags to write are in msg.payload. \nIn this case, msg.payload is an object containing multiple properties, the fields that will be written to the measurement.\nIf the measurement field is not set in the node configuration, the user can send in data with a specified measurement name in `msg.measurement` to overwrite the measurement field in the configuration of the node.\n\nWe will use the node in **InfluxDB 1.x Mode**.\nIn the Advanced Query Options the time precision of seconds is specified \nIf no retention policy is specified, autogen will be assumed.\n\n## Example Input\n```\n{\n  \"measurement\": \"real600\",\n  \"payload\": {\n    \"R_0\": 4728.963,\n    \"R_1\": 7141.593\n  }\n}\n```","x":920,"y":340,"wires":[]},{"id":"771f06b7.f8d448","type":"function","z":"8a4ccd81.12db7","name":"Production Data to Values","func":"// Insert here the ordered output tag list\nlet selectedTags = [\"Production_GoodPieces\",\n                    \"Production_BadPieces\",\n                    \"Production_MachSpeed\"];\n                    \n                    \n// get S7Map variable\nlet S7ConnectionMap = flow.get(\"S7ConnectionMap\");\n\n// find index of fps716 connection\nlet connectionIndex = S7ConnectionMap.nameList.indexOf(\"1516_S7PLUS\");\n// usr the index to get the right map\nlet nameIDMap = S7ConnectionMap.nameIDMaps[connectionIndex];\n\n// get IDs of selected Tags\nlet selectedIDs = selectedTags.map(name => nameIDMap.get(name));\n\n// create an empty values array\nlet selectedValues = new Array(selectedTags.length).fill(\"NULL\");\n\n// initialize timestamp\nlet timestamp = null;\nlet timezone = \"+00\";\n\n// iterate through readed tags\nfor (let i=0; i < msg.payload.vals.length; i++){\n    \n    // iterate through selected ids\n    for(let j=0; j < selectedIDs.length; j++){\n    \n        // search for tag\n        if(msg.payload.vals[i].id == selectedIDs[j])\n        {\n            // set timestamp\n            //timestamp = new Date(msg.payload.vals[i].ts);\n            timestamp = new Date(Date.parse(msg.payload.vals[i].ts)).toISOString().replace(\"T\", \" \").replace(\"Z\", \"\")\n            // add timezone\n            timestamp = timestamp + timezone;\n            // assign message to selected vals\n            selectedValues[j] = Number(msg.payload.vals[i].val.toFixed(2));\n            // stop on first match, first for will continue on next tag\n            break;\n        }\n    }\n}\n\n// create out message\nlet outMsg = {};\n\n// if payload contains some values send it\nif (timestamp)\n{\n    // create values string\n    outMsg.payload = \"(\\'\" + timestamp + \"\\',\\'Demo_Line\\',\" + selectedValues.join(\",\") + \")\";\n\n    return outMsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":380,"wires":[["20bb2034.a1fbd","43bd1c28.ee65c4"]]},{"id":"20bb2034.a1fbd","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"43bd1c28.ee65c4","type":"join","z":"8a4ccd81.12db7","name":"5 series batch","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":840,"y":380,"wires":[["613f0605.10d808"]]},{"id":"613f0605.10d808","type":"function","z":"8a4ccd81.12db7","name":"create Insert Query","func":"// create out message\nlet outMsg = {}\n\n// compose query\nlet query = 'INSERT INTO production ';\nquery += '(timestamp, machineName, goodPieces, badPieces, machineSpeed) VALUES';\nquery += msg.payload;\n\noutMsg.payload = query;\n\n// update function node status\nnode.status({fill:\"green\",shape:\"ring\",text:\"Last Query Time: \" + new Date().toISOString()});\n\nreturn outMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":380,"wires":[["623ff2f3.bdb21c","cf49f7b0.356bd8"]]},{"id":"2467ec0e.a76704","type":"mqtt in","z":"8a4ccd81.12db7","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/1516_S7PLUS/default","qos":"0","datatype":"json","broker":"163f80f6.8d5c0f","x":220,"y":380,"wires":[["771f06b7.f8d448","84e41080.0bd43"]]},{"id":"313db2e9.99b6ce","type":"mqtt in","z":"8a4ccd81.12db7","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"2","datatype":"json","broker":"163f80f6.8d5c0f","x":150,"y":140,"wires":[["b0dee3d.a46702","f018cf94.6103e"]]},{"id":"b0dee3d.a46702","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"f018cf94.6103e","type":"function","z":"8a4ccd81.12db7","name":"Create S7ConnectionMap Variable","func":"// Create an object that contains each S7 Connector connection property\n// with different Map Objects to create correspondence between Tags IDs, Names and Types.\n\n\n// initialize the connections Mapping Object\nlet S7ConnectionMap = {\n    \"nameList\":[],      // array of available S7 Connections names. Order is the same in Map objects below.\n    \"typeList\":[],      // array of available S7 Connections types. Order is the same of nameList..\n    \"nameIDMaps\":[],    // array of Tags Names-IDs object. Order is the same of nameList.\n    \"IDnameMaps\":[],     // array of Tags IDs-Names Map object. Order is the same of nameList.\n    \"IDTypeMaps\":[]     // array of Tags IDs-Type Map object. Order is the same of nameList.    \n}\n\n// Check Payload\nlet m = msg.payload;\nif (m.seq == undefined) {\n    // update global maps\n    flow.set(\"S7ConnectionMap\", null);\n    // update function node status\n    node.status({fill:\"red\",shape:\"ring\",text:\"S7Map cannot be created\"});\n    \n    return null;\n}  \n\n// Iterate through connections\nfor (let i = 0; i < m.connections.length; i++)\n{\n    let connection = m.connections[i];\n    // push connection name and type in global object\n    S7ConnectionMap.nameList.push(connection.name);\n    S7ConnectionMap.typeList.push(connection.type);\n    // init maps\n    let nameIDMap = new Map();\n    let IDNameMap = new Map();\n    let IDTypeMap = new Map();\n    \n    // Iterate through dataPoints\n    let dataPoints = connection.dataPoints;\n    for (let j = 0; j < dataPoints.length; j++)\n    {\n        let dataPoint = dataPoints[j];\n        // Iterate through dataPointDefinitions\n        let dataPointDefinitions = dataPoint.dataPointDefinitions;\n        for (let k = 0; k < dataPointDefinitions.length; k++)\n        {\n            let dataPointDefinition = dataPointDefinitions[k];\n            // push in maps the datapoint property\n            nameIDMap.set(dataPointDefinition.name, dataPointDefinition.id);\n            IDNameMap.set(dataPointDefinition.id, dataPointDefinition.name);\n            IDTypeMap.set(dataPointDefinition.id, dataPointDefinition.dataType);        \n        }\n    }\n    // push mappings in global object\n    S7ConnectionMap.nameIDMaps.push(nameIDMap);\n    S7ConnectionMap.IDnameMaps.push(IDNameMap);\n    S7ConnectionMap.IDTypeMaps.push(IDTypeMap);\n}\n\n\n// update global maps\nflow.set(\"S7ConnectionMap\", S7ConnectionMap);\n\n// set S7Map as output payload\nmsg.payload = S7ConnectionMap;\n\n// update function node status\nnode.status({fill:\"green\",shape:\"ring\",text:\"S7ConnectionMap created for \" + S7ConnectionMap.nameList.join()});\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["d6bff65b.7e9488"]]},{"id":"d6bff65b.7e9488","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":140,"wires":[]},{"id":"3fbb1a32.f8a616","type":"comment","z":"8a4ccd81.12db7","name":"Create S7ConnectionMap Flow Variable to help mapping tags properties","info":"","x":290,"y":100,"wires":[]},{"id":"ceb2184f.9e4f38","type":"comment","z":"8a4ccd81.12db7","name":"Get Metadata & Data from S7","info":"","x":160,"y":340,"wires":[]},{"id":"fa1b48e9.733db8","type":"template","z":"8a4ccd81.12db7","name":"retention period query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM public.Production\nWHERE Timestamp < NOW() - INTERVAL '{{payload}}'","output":"str","x":1020,"y":500,"wires":[["623ff2f3.bdb21c"]]},{"id":"8280765.512b988","type":"inject","z":"8a4ccd81.12db7","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"7 days","payloadType":"str","x":840,"y":500,"wires":[["fa1b48e9.733db8"]]},{"id":"b3041682.bb3c08","type":"comment","z":"8a4ccd81.12db7","name":"Examples: 43 years, 1 year, 9 mons, 1 mon, 27 days, 1 day, 36 hours, 1 hour ","info":"","x":1030,"y":540,"wires":[]},{"id":"84e41080.0bd43","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":440,"wires":[]},{"id":"24952827.c5d4e8","type":"template","z":"8a4ccd81.12db7","name":"create table query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS production;\n\nCREATE TABLE production (\n    id SERIAL PRIMARY KEY,\n\ttimestamp TIMESTAMP(3) NOT NULL,\n    goodPieces INTEGER,\n\tBadPieces INTEGER,\n\tMachSpeed REAL,\n    MachineName VARCHAR(255) NOT NULL\n);","output":"str","x":1030,"y":280,"wires":[["623ff2f3.bdb21c"]]},{"id":"9fae7e80.1e7da","type":"inject","z":"8a4ccd81.12db7","name":"Create Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":280,"wires":[["24952827.c5d4e8"]]},{"id":"44a39fff.ec849","type":"comment","z":"8a4ccd81.12db7","name":"Create new Table in the database on Press","info":"","x":920,"y":240,"wires":[]},{"id":"d87d1d55.87f57","type":"ui_chart","z":"8a4ccd81.12db7","name":"","group":"7bd3d7df.835d08","order":2,"width":0,"height":0,"label":"One Day Production Trend","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1c84ce","#ed2c2f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":880,"y":680,"wires":[[]]},{"id":"232633b6.2f8c2c","type":"inject","z":"8a4ccd81.12db7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":680,"wires":[["e1333061.01142"]]},{"id":"f6e2641b.7b8c48","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":720,"wires":[]},{"id":"285583fb.fb278c","type":"function","z":"8a4ccd81.12db7","name":"create chart msg","func":"// define postgresql fields names\nlet outFields = [\"goodpieces\", \"badpieces\"]\n\n// create base out message\nlet outMsg = {payload:[{}]};\n\n// create chart properties\noutMsg.payload[0].series = [outFields[0], outFields[1]];\noutMsg.payload[0].data = [[],[]];\noutMsg.payload[0].labels = [\"\"];\n\n// scan input data series and create chart data series\nfor (let i = 0; i < msg.payload.length; i++)\n{\n    let ts = new Date(msg.payload[i][\"time\"]).getTime();\n    // if value of selected fields exist, push to data array toghetee with timestamp\n    if (msg.payload[i][outFields[0]] !== null)\n    {\n        outMsg.payload[0].data[0].push({\"x\": ts, \"y\": msg.payload[i][outFields[0]]});    \n    }\n    if (msg.payload[i][outFields[1]] !== null)\n    {\n        outMsg.payload[0].data[1].push({\"x\": ts, \"y\": msg.payload[i][outFields[1]]});   \n    }\n}\n\nreturn outMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":680,"wires":[["f6e2641b.7b8c48","d87d1d55.87f57"]]},{"id":"63825d7b.082934","type":"comment","z":"8a4ccd81.12db7","name":"Trigger every 30 sec","info":"","x":130,"y":640,"wires":[]},{"id":"cf438709.59b568","type":"comment","z":"8a4ccd81.12db7","name":"Get data from PostgreSQL","info":"","x":150,"y":600,"wires":[]},{"id":"1e86dd65.701ba3","type":"comment","z":"8a4ccd81.12db7","name":"Show on UI","info":"","x":830,"y":640,"wires":[]},{"id":"e1333061.01142","type":"template","z":"8a4ccd81.12db7","name":"Query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \nDATE_TRUNC('minute', timestamp) AS time,\nROUND(AVG(goodPieces)) AS GoodPieces, \nROUND(AVG(badPieces)) AS BadPieces\nFROM production\nWHERE timestamp > NOW() - INTERVAL '1 DAY' AND timestamp < NOW()\nGROUP BY time \nORDER BY time DESC","output":"str","x":270,"y":680,"wires":[["db3f0af3.582798"]]},{"id":"6936a57f.2a677c","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":380,"wires":[]},{"id":"f26b82a4.ac566","type":"comment","z":"8a4ccd81.12db7","name":"Application example S7 - PostgreSQL - Grafana","info":"","x":220,"y":60,"wires":[]},{"id":"db3f0af3.582798","type":"postgres","z":"8a4ccd81.12db7","postgresdb":"474ae35f.34e1cc","name":"edge-postgresql","output":true,"outputs":1,"x":420,"y":680,"wires":[["285583fb.fb278c","670c0aa0.1089d4"]]},{"id":"623ff2f3.bdb21c","type":"postgres","z":"8a4ccd81.12db7","postgresdb":"474ae35f.34e1cc","name":"edge-postgresql","output":true,"outputs":1,"x":1320,"y":380,"wires":[["6936a57f.2a677c"]]},{"id":"670c0aa0.1089d4","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":740,"wires":[]},{"id":"cf49f7b0.356bd8","type":"debug","z":"8a4ccd81.12db7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":300,"wires":[]},{"id":"163f80f6.8d5c0f","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7bd3d7df.835d08","type":"ui_group","name":"Control and Monitor","tab":"ad636f4a.7d358","order":2,"disp":true,"width":"13","collapse":false},{"id":"474ae35f.34e1cc","type":"postgresdb","hostname":"edge-postgresql","port":"5432","db":"edge","ssl":false},{"id":"ad636f4a.7d358","type":"ui_tab","name":"S7 - PostgreSQL App Example","icon":"extension","order":3,"disabled":false,"hidden":false}]